<div class="text-layout">

<app-menu></app-menu>

<router-outlet></router-outlet>
  
</div>

<!-- <h1>{{nombre |titlecase}}</h1>
  <h1>{{valor |number}}</h1>
  <h1>{{obj |json}}</h1>

  <button pButton
    (click)="mostrarNombre()"
    label="Cambiar nombre"
    icon="pi pi-check"
    iconPos="right"
    class="p-button-help"
    
  >
  </button>

  <p-card
  [header]="nombre | titlecase"
  subheader="{{valor}}"
  [style]="{'width':'25rem', 'margin':'2em 0'}"
  >
    
    <p>{{obj | json}}</p>
    
  </p-card> -->